.card {
  width: 100%;
  max-width: 413px;
}

.card__image {
  width: 413px;
  height: 413px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 12px;
}

.card__information {
  display: flex;
  justify-content: space-between;
}

.card__title {
  line-height: 1.2;
  font-size: 20px;
  max-width: 353px;
  margin: 0;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-button {
  width: 23px;
  height: 20px;
  opacity: 0.4;
  transition: opacity 0.3s;
  cursor: pointer;
  background-image: url("../images/like-icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  background-color: #fcf5e5;
}

.card__like-button:hover {
  opacity: 1;
}

@media screen and (max-width: 920px) {
  .card {
    max-width: 288px;
  }
  .card__image {
    width: 288px;
    height: 288px;
  }
  .card__title {
    max-width: 235px;
    line-height: 1;
    font-size: 16px;
  }
}
