.profile {
  display: flex;
  justify-content: space-between;
  padding: 34px 0px 20px;
  width: 100%;
  max-width: 1280px;
  border-bottom: rgba(0, 0, 0, 0.4) 1px solid;
}

.profile__information {
  display: flex;
  flex-direction: column;
}

.profile__image {
  width: 190px;
  height: 190px;
  border-radius: 8px;
  margin-right: 20px;
}

.profile__name {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 12px;
  color: #212121;
  max-width: 420px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__role {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 16px;
  font-weight: 500;
  color: #212121;
  opacity: 0.7;
  max-width: 420px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__edit-container {
  display: flex;
  margin-top: auto;
  margin-bottom: 0;
  column-gap: 8px;
  color: #212121;
  opacity: 0.7;
  transition: opacity 0.3s;
  cursor: pointer;
  line-height: 1;
  border: none;
  background-color: #fcf5e5;
}

.profile__edit-container:hover {
  opacity: 1;
}

.profile__edit {
  font-size: 16px;
}

.profile__new-post {
  display: flex;
  column-gap: 8px;
  border-radius: 8px;
  margin-top: auto;
  margin-left: auto;
  width: 149px;
  height: 52px;
  background-color: #212121;
  padding-top: 18px;
  padding-bottom: 18px;
  box-sizing: border-box;
  cursor: pointer;
  color: #fcf5e5;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s;
  border: none;
}

.profile__new-post:hover {
  opacity: 0.8;
}

.profile__new-post-icon {
  width: 12px;
  height: 12px;
}

/**********Media Queries**************/

@media screen and (min-width: 690px) and (max-width: 1320px) {
  .profile {
    max-width: 1280px;
    min-width: 630px;
    width: 100%;
  }
}

@media screen and (min-width: 320px) and (max-width: 690px) {
  .profile {
    padding-top: 20px;
    max-width: 288px;
    align-self: center;
  }
  .profile__image {
    width: 80px;
    height: 80px;
    margin-right: 0;
    margin-bottom: 12px;
  }
  .profile__name {
    margin-bottom: 6px;
    font-size: 20px;
  }
  .profile__role {
    margin-bottom: 32px;
  }
  .profile {
    flex-direction: column;
    align-items: center;
  }
  .profile__information {
    align-items: center;
  }
  .profile__new-post {
    margin: 0 auto;
    width: 100%;
  }
  .profile__edit-container {
    margin-bottom: 20px;
  }
}
